.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.6);
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px
}

.login_btn {
    margin: 20px 0px 0px 200px;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login_btn:hover {
    transform: scale(1.1);
}

.Login_text {
    padding: 10px 0px 30px 0px;
    text-align: center;
    font-size: 35px;
}